@import "./variables"

@mixin navBarElement($colorbackground,$colortext)
    background-color: $colorbackground
    position: sticky
    width: 100vw
    padding: 2% 1% 2% 1%
    display: flex
    align-items: center
    justify-content: space-between
    color: $colortext
    top: 0%
    z-index: 2
