@import "./variables"

@mixin navBarElement($colorbackground,$colortext)
    background-color: $colorbackground
    width: 100vw
    padding: 1% 1%
    display: flex
    align-items: center
    justify-content: space-between
    color: $colortext
    top: 0%
    z-index: 1
    overflow: hidden

@mixin centerFlex($direction,$justifyContent)
    display: flex
    flex-direction: $direction
    align-items: center
    justify-content: $justifyContent
    @media screen and (max-width: 450px)
        flex-direction: column

@mixin fillScreenDiv($BackgroundColor, $colorText,$width, $height)
    width: $width
    height: $height
    background-color: $BackgroundColor
    color: $colorText
    overflow: hidden

@mixin basicButton($BackgroundColor)
    background: $BackgroundColor
    color: inherit
    border: none
    padding: 0
    font: inherit
    cursor: pointer
    outline: inherit

@mixin setAnchorAsButton($BackgroundColor)
    background: $BackgroundColor
    text-decoration: none
    color: inherit

@mixin imageInsideDiv($max-width)
    max-width: $max-width
    max-height: auto

@mixin centerImageInsideRelativeDiv()
    position: absolute
    top: 50%
    right: 0%
    left: 50%
    bottom: 0%
    z-index: 0
    transform: translate(-50%,-50%)

@mixin removeDefaultLinkStyle()
    text-decoration: none
    color: inherit

@mixin anchorStyle()
    color: $secondaryColorBackground
    text-decoration: none
    border: 1.5px solid $secondaryColorBackground
    padding: 15px 25px
    border-radius: 5px
    transition: all 0.2s ease-in-out
    &:hover
        background-color: $colorSecondary
