// main colors light theme
$mainColorBackground: #D4F4DD
$secondaryColorBackground: #1D0B19
$colorButton: #17BEBB
$colorButtonSecondary: #0E7C7B
$colorEnphasis: #D62246
// font
$fontFamily: 'Josefin Sans', sans-serif
