.relative-container {
  position: relative;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0E7C7B;
  overflow: hidden;
}

.hero-wrapper .hero-paralax-image {
  position: absolute;
  top: 50%;
  right: 0%;
  left: 50%;
  bottom: 0%;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: backgroundImage 10s ease-in-out;
          animation: backgroundImage 10s ease-in-out;
}

.hero-wrapper .hero-content {
  color: #D4F4DD;
  text-align: center;
  position: relative;
}

.hero-wrapper .hero-content h1 {
  font-size: 85px;
}

.hero-wrapper .hero-content p {
  font-size: 24px;
}

@-webkit-keyframes backgroundImage {
  0% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes backgroundImage {
  0% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 6000px;
  height: 100vh;
  padding: 1%;
  margin: 5% 0 5% 0;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}

.cards-wrapper:hover {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.cards-wrapper:hover .card-showcase {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  margin: 0;
}

.cards-wrapper .card-showcase {
  position: relative;
  width: 500px;
  height: 90%;
  overflow: hidden;
  margin: 0 0px 0;
  border-radius: 10px;
  background-color: white;
  -webkit-transform: rotatex(20deg) rotateY(30deg);
          transform: rotatex(20deg) rotateY(30deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cards-wrapper .card-showcase:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.cards-wrapper .card-showcase img {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 20%;
}

.cards-wrapper .card-showcase div {
  margin: 10px;
}

.section-wrapper h1 {
  font-size: 60px;
  color: #D62246;
  margin-bottom: 2%;
}

.container-wrapper {
  margin: 0 auto 0 auto;
  max-width: 80vw;
}

.generic-hero-wrapper {
  color: #1D0B19;
  width: 80vw;
}

.section-text-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 50vh;
}

.paragraph-big {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 50px;
}

.paragraph-small {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 25px;
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 5% 0 5% 0;
  min-height: 60vh;
  max-height: 100vh;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #1D0B19;
  font-size: 24px;
  width: 80%;
  padding: 1%;
  margin: 1% 0 1% 0;
  border-radius: 15px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.list-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px, rgba(0, 0, 0, 0.09) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px 4px 4px, rgba(0, 0, 0, 0.09) 0px 8px 8px, rgba(0, 0, 0, 0.12) 0px 16px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 1px, rgba(0, 0, 0, 0.09) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px 4px 4px, rgba(0, 0, 0, 0.09) 0px 8px 8px, rgba(0, 0, 0, 0.12) 0px 16px 16px;
  width: 90%;
}
/*# sourceMappingURL=layoutContainers.css.map */