.relative-container {
  position: relative;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #231C07;
  overflow: hidden;
}

.hero-wrapper .hero-paralax-image {
  position: absolute;
  top: 50%;
  right: 0%;
  left: 50%;
  bottom: 0%;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: backgroundImage 10s ease-in-out;
          animation: backgroundImage 10s ease-in-out;
}

.hero-wrapper .hero-content {
  color: #EDF6F0;
  text-align: center;
  position: relative;
}

.hero-wrapper .hero-content h1 {
  font-size: 85px;
}

.hero-wrapper .hero-content p {
  font-size: 24px;
}

@-webkit-keyframes backgroundImage {
  0% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes backgroundImage {
  0% {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 6000px;
  height: 100vh;
  padding: 1%;
  margin: 5% 0 5% 0;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}

.cards-wrapper:hover {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.cards-wrapper:hover .card-showcase {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  margin: 0;
}

.cards-wrapper .card-showcase {
  position: relative;
  width: 500px;
  height: 90%;
  overflow: hidden;
  margin: 0 0px 0;
  border-radius: 10px;
  background-color: white;
  -webkit-transform: rotatex(20deg) rotateY(30deg);
          transform: rotatex(20deg) rotateY(30deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cards-wrapper .card-showcase:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.cards-wrapper .card-showcase img {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 20%;
}

.cards-wrapper .card-showcase div {
  margin: 10px;
}

.section-wrapper h1 {
  font-size: 60px;
  color: #231C07;
  margin-bottom: 2%;
}

.container-wrapper {
  margin: 0 auto 0 auto;
  max-width: 80vw;
}

.generic-hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  color: #231C07;
  width: 80vw;
}

.section-text-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.section-text-column.photo {
  height: 100vh;
}

.cards-section {
  margin-top: 100px;
  width: 100%;
  padding: 8%;
  height: 80vh;
}

.cards-section h1 {
  margin-bottom: 1rem;
  font-size: 55px;
}

.column-layout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: justify;
}

.column-layout .cards-info {
  width: 30%;
}

.column-layout .cards-info h1 {
  font-size: revert;
}

.wrap-text {
  width: 40%;
  color: #EDF6F0;
}

.wrap-text h1 {
  font-size: 24px;
}

.wrap-text p {
  font-size: 18px;
}

.v-img-wrap {
  width: 50%;
}

.paragraph-big {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 50px;
}

.paragraph-small {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 25px;
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0 5% 0;
  min-height: 60vh;
  max-height: 100vh;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  color: #EDF6F0;
  font-size: 18px;
  height: 280px;
  width: 80%;
  padding: 1%;
  margin: 1% 0 1% 0;
  border-radius: 15px;
  background-color: #231C07;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.list-item .img-list-container {
  height: 100%;
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
  margin-right: 5%;
  min-width: 400px;
}

.list-item .img-list {
  position: absolute;
  top: 50%;
  right: 0%;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list-item:hover {
  background-color: #7F96FF;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.list-item h2 {
  font-size: 38px;
}

.list-item a {
  background-color: #FF7F7F;
  padding: 3%;
}

.list-item p {
  margin-bottom: 20px;
}
/*# sourceMappingURL=layoutContainers.css.map */