.relative-container {
  position: relative;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #231C07;
  overflow: hidden;
}

.hero-wrapper .hero-paralax-image {
  position: absolute;
  top: 50%;
  right: 0%;
  left: 50%;
  bottom: 0%;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-wrapper .hero-content {
  color: #EDF6F0;
  text-align: center;
  position: relative;
}

.hero-wrapper .hero-content h1 {
  font-size: 125px;
}

.hero-wrapper .hero-content p {
  font-size: 34px;
}

.hero-wrapper img {
  max-width: none;
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  height: 100vh;
  padding: 1%;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cards-wrapper:hover {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.cards-wrapper:hover .card-showcase {
  margin-right: 1rem;
}

.cards-wrapper .card-showcase {
  position: relative;
  width: 500px;
  height: 95%;
  overflow: hidden;
  margin: 0 -20px 0;
  border-radius: 10px;
  background-color: white;
  -webkit-transform: rotatex(20deg) rotateY(35deg);
          transform: rotatex(20deg) rotateY(35deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #231C07;
}

.cards-wrapper .card-showcase:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  margin-left: 1rem;
}

.cards-wrapper .card-showcase a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 45%;
}

.cards-wrapper .card-showcase a .overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #231C07;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cards-wrapper .card-showcase a:hover .overlay {
  opacity: 0.8;
  width: 30%;
}

.cards-wrapper .card-showcase img {
  max-width: 720px;
}

.cards-wrapper .card-showcase > div {
  margin: 15px;
}

.cards-wrapper .card-showcase p {
  font-size: 20px;
  text-align: justify;
  font-weight: 300;
  margin-bottom: 40px;
}

.section-wrapper h1 {
  font-size: 70px;
  margin-bottom: 5%;
}

.container-wrapper {
  margin: 0 auto 0 auto;
  max-width: 100vw;
  padding: 10%;
  padding-bottom: 0;
}

.container-wrapper .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-wrapper .flex-column a {
  text-decoration: none;
  color: #231C07;
  background-color: #7F96FF;
  padding: 15px 20px 15px 20px;
  font-size: 45px;
  border-radius: 10px;
}

.generic-hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  color: #231C07;
  width: 80vw;
}

.section-text-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.section-text-column.photo {
  height: 100vh;
}

.cards-section {
  margin-top: 100px;
  width: 100%;
  padding: 8%;
  height: 80vh;
}

.cards-section h1 {
  margin-bottom: 1rem;
  font-size: 55px;
}

.column-layout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: justify;
}

.column-layout .cards-info {
  width: 30%;
}

.column-layout .cards-info h1 {
  font-size: revert;
}

.wrap-text {
  width: 40%;
  color: #EDF6F0;
}

.wrap-text h1 {
  font-size: 24px;
}

.wrap-text p {
  font-size: 18px;
}

.v-img-wrap {
  width: 50%;
}

.paragraph-big {
  font-size: 80px;
  margin-right: 3%;
  line-height: 90%;
}

.paragraph-small {
  font-size: 45px;
  margin-left: 3%;
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0 5% 0;
  min-height: 60vh;
  max-height: 100vh;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  color: #EDF6F0;
  font-size: 18px;
  height: 280px;
  width: 80%;
  padding: 1%;
  margin: 1% 0 1% 0;
  border-radius: 10px;
  background-color: #231C07;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.list-item .img-list-container {
  height: 100%;
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
  margin-right: 5%;
  min-width: 400px;
}

.list-item .img-list {
  position: absolute;
  top: 50%;
  right: 0%;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list-item:hover {
  background-color: #7F96FF;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
}

.list-item h2 {
  font-size: 38px;
}

.list-item button {
  background-color: #FF7F7F;
  padding: 3%;
  cursor: pointer;
}

.list-item p {
  margin-bottom: 20px;
  font-weight: 300;
}
/*# sourceMappingURL=layoutContainers.css.map */