@import "../helpers/variables"
@import "../helpers/mixins"

// main colors light theme
// $mainColorBackground: #EDF6F0
// $secondaryColorBackground: #231C07
// $colorSecondary: #7F96FF
// $colorTerciary: #DEFF7F
// $colorEnphasis: #FF7F7F
// font
// $fontFamily: 'Josefin Sans', sans-serif

.relative-container
    position: relative

// hero container styles

.hero-wrapper
    display: flex
    position: relative
    justify-content: center
    align-items: center
    width: 100vw
    height: 110vh
    background-color: $secondaryColorBackground
    overflow: hidden
    .hero-paralax-image
        position: absolute
        top: 50%
        right: 0%
        left: 50%
        bottom: 0%
        z-index: 0
        transform: translate(-50%,-50%)

    .hero-content
        color: $mainColorBackground
        text-align: center
        position: relative
        h1
            // position: absolute
            width: 4000px
            font-size: 125px

        p
            font-size: 34px
            font-weight: 100

    img
        max-width: none

//card container

.cards-wrapper
    display: flex
    flex-direction: row
    width: 65vw
    height: 100vh
    padding: 1%
    transform: translateX(0px)
    transition: all 1s ease-in-out
    flex: 1

    &:hover
        transform: translateX(-50px)
        .card-showcase

            margin-right: 1rem

    .card-showcase

        position: relative
        width: 26vw
        height: 85%
        overflow: hidden
        border-radius: 10px
        background-color: white
        // perspective: 1000px
        transform: rotatex(20deg) rotateY(35deg)
        transition: all 0.2s ease-in-out
        color: $secondaryColorBackground

        h1
            font-size: 55px

        &:hover
            transform: translateY(-50px)

            margin-left: 1rem

        .image-container
            display: block
            position: relative
            overflow: hidden
            height: 45%

            .overlay
                position: absolute
                bottom: 0
                right: 0
                width: 100%
                height: 100%
                background-color: $secondaryColorBackground
                opacity: 0.5
                transition: all 0.2s ease-in-out

            &:hover
                .overlay
                    opacity: 0

        img
            max-width: 850px

        > div
            margin: 15px
            a
                color: $secondaryColorBackground
                text-decoration: none
                background-color: $colorEnphasis
                padding: 15px 25px
                border-radius: 5px
                transition: all 0.2s ease-in-out
                &:hover
                    background-color: $colorSecondary

        p
            font-size: 18px
            text-align: justify
            font-weight: 300
            margin-bottom: 40px

// section wrapper

.section-wrapper

    h1
        font-size: 80px

        margin-bottom: 5%

// container wrapper

.container-wrapper

    margin: 0 auto 0 auto
    max-width: 100vw
    padding: 6%
    padding-bottom: 0

    .flex-column
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-left: 5%

        > a
            text-decoration: none
            color: inherit
            background-color: $colorEnphasis
            padding: 15px 20px
            font-size: 22px
            border-radius: 10px
            margin-top: 10px
            align-self: flex-end
            transition: all 0.2s ease-in-out
            box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.4)
            transform: translateY(-5px)
            margin-bottom: 50px
            &:hover
                background-color: $colorSecondary
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4)
                transform: translateY(0px)

            &:active
                background-color: $colorTerciary

// generic hero wwrapper 
.generic-hero-wrapper
    @include centerFlex($direction: row,$justifyContent: center)
    height: 110vh
    color: $secondaryColorBackground
    width: 80vw
    padding: 0 5%
    transition: all 0.7s ease-in-out
    color: $mainColorBackground
    background-color: $secondaryColorBackground
    &.is-reveal
        // color: $secondaryColorBackground
        // background-color: $mainColorBackground
        width: 100vw

.home-sec-wrap
    transition: background-color 0.5s ease-in-out
    &.is-reveal
        background-color: $secondaryColorBackground
        color: $mainColorBackground

.paragraph-big

    font-size: 80px
    margin-right: 3%

    line-height: 110%
    transform: translateY(100px)
    transition: color 0.5s ease-in-out

.paragraph-small

    font-size: 40px
    margin-left: 3%
    font-weight: 100
