@import "../../styles/helpers/variables"
@import "../../styles/helpers/mixins"

.messages-section
    @include centerFlex($direction: row,$justifyContent: center)
    height: 110vh
    padding: 0 7%

.two-column
    @include centerFlex($direction: row ,$justifyContent: center )

    h2
        margin: 10% 0
        font-size: clamp(5vw, 75px,5vw)
        padding-left: 15px
.mini-project-content
    @include centerFlex($direction: row,$justifyContent: none )

    h2
        width: 30vw
        font-size: clamp(5vw, 75px,5vw)
        word-break: break-word

        @media screen and (max-width: 450px)
            width: auto
