@import "../../styles/helpers/variables"
@import "../../styles/helpers/mixins"

.messages-section
    @include centerFlex($direction: row,$justifyContent: center)
    height: 100vh
    padding: 0 7%

.two-column
    @include centerFlex($direction: row ,$justifyContent: center )

    h2
        font-size: 75px
        box-shadow: -3px 0px 0px 0px rgba(0,0,0,0.6)
        padding-left: 15px
.mini-project-content
    display: flex
    flex-direction: row

    h2
        width: 30vw
        font-size: 65px
        word-break: break-word
        box-shadow: 4px 0px 0px 0px $secondaryColorBackground
