@import "../../styles/helpers/variables.sass";
@import "../../styles/helpers/mixins.sass";

.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: $secondaryColorBackground;
  position: relative;
  z-index: 4;
  overflow: hidden;

  &.hide {
    display: none;
  }
}
