.container {
  transform: rotate(45deg);
  position: absolute;
  top: 5%;
  right: 20%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 -80px 0 0;
}

.cube {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 0 80px 0 0;
  transform-style: preserve-3d;
}
.wall {
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(-80px / 2);
  top: calc(-80px / 2);
  text-align: center;
  line-height: 100px;
  border: solid 1px #fff;
}
.front {
  transform: translateZ(calc(80px / 2));
}
.back {
  transform: translateZ(calc(-80px / 2)) rotateY(180deg);
}
.right {
  transform: translateX(calc(80px / 2)) rotateY(90deg);
}
.left {
  transform: translateX(calc(-80px / 2)) rotateY(-90deg);
}
.top {
  transform: translateY(calc(-80px / 2)) rotateX(90deg);
}
.bottom {
  transform: translateY(calc(80px / 2)) rotateX(-90deg);
}

/* animation */

//first
.flex:nth-of-type(4) .cube:nth-of-type(1) {
  animation: rotation 3s linear 0.5s infinite alternate;
}

//sec
.flex:nth-of-type(3) .cube:nth-of-type(1) {
  animation: rotation 3s linear 0.6s infinite alternate;
}
.flex:nth-of-type(4) .cube:nth-of-type(2) {
  animation: rotation 3s linear 0.6s infinite alternate;
}

//third
.flex:nth-of-type(2) .cube:nth-of-type(1) {
  animation: rotation 3s linear 0.7s infinite alternate;
}
.flex:nth-of-type(3) .cube:nth-of-type(2) {
  animation: rotation 3s linear 0.7s infinite alternate;
}
.flex:nth-of-type(4) .cube:nth-of-type(3) {
  animation: rotation 3s linear 0.8s infinite alternate;
}

//forth
.flex:nth-of-type(1) .cube:nth-of-type(1) {
  animation: rotation 3s linear 0.8s infinite alternate;
}
.flex:nth-of-type(2) .cube:nth-of-type(2) {
  animation: rotation 3s linear 0.8s infinite alternate;
}
.flex:nth-of-type(3) .cube:nth-of-type(3) {
  animation: rotation 3s linear 0.8s infinite alternate;
}
.flex:nth-of-type(4) .cube:nth-of-type(4) {
  animation: rotation 3s linear 0.8s infinite alternate;
}

//five
.flex:nth-of-type(1) .cube:nth-of-type(2) {
  animation: rotation 3s linear 0.9s infinite alternate;
}
.flex:nth-of-type(2) .cube:nth-of-type(3) {
  animation: rotation 3s linear 0.9s infinite alternate;
}
.flex:nth-of-type(3) .cube:nth-of-type(4) {
  animation: rotation 3s linear 0.9s infinite alternate;
}

//six
.flex:nth-of-type(1) .cube:nth-of-type(3) {
  animation: rotation 3s linear 1s infinite alternate;
}
.flex:nth-of-type(2) .cube:nth-of-type(4) {
  animation: rotation 3s linear 1s infinite alternate;
}

//seven
.flex:nth-of-type(1) .cube:nth-of-type(4) {
  animation: rotation 3s linear 1.1s infinite alternate;
}

@keyframes rotation {
  100% {
    transform: rotateX(270deg) rotateY(90deg);
  }
}

/* cube */
