.background-bio{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(51, 71, 255);
    width: 100vw;
    height: 100Videevh;
    z-index: -1;
    animation: backgroundAnim 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .background-Design{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: designAnim 0.2s ease-in-out;
    animation-fill-mode: forwards;
}
  
  .background-Programming{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: programmingAnim 0.2s ease-in-out;
    animation-fill-mode: forwards;
    
  }

  .background-Videogame{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: videoGameAnim 0.2s ease-in-out;
    animation-fill-mode: forwards;
    
  }

  .background-Physics{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: physicsAnim 0.2s ease-in-out;
    animation-fill-mode: forwards;
    
  }
  
 
  .background{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(46, 46, 46);
    width: 100vw;
    height: 100vh;
    z-index: -2;
  }
  
  @keyframes backgroundAnim {
    100% {
      background-color: blue;
      
    }
  }
  
  @keyframes designAnim {
  
    100% {
        background-color: yellow;
    }

    
  }

  
  @keyframes programmingAnim {
  
    100% {
        opacity: 1;
        background-color: rgb(30, 216, 241);
    }

    
  }

  @keyframes videoGameAnim {
  
    100% {
        opacity: 1;
        background-color: rgb(223, 30, 241);
    }

    
  }

  @keyframes physicsAnim {
  
    100% {
        opacity: 1;
        background-color: rgb(255, 53, 80);
    }

    
  }

 