.page-content 
    padding: 0% 3%


.h1-absolute
    position: absolute
    top: 10%
    left: 20%
    font-size: 7rem
    transform: translateX(-50%)
    @media screen and (max-width: 450px)
        font-size: 5rem
        top: 15%
        left: 50%
        transform: translateX(-50%)
        
    
