@import '../../styles//helpers/mixins'
@import '../../styles//helpers/variables'

.project-content
    width: $containerWidth
    margin: 10% auto 5% auto
    h1
        margin-bottom: 5%
    p
        font-size: 1.2vw
