@import "../../styles/helpers/variables";
@import "../../styles/helpers/mixins";




.blog-item {
    margin-bottom: 30px;
    min-height: 350px;
    border-radius: 5px;
    background-color: $BackgroundColor;
    margin: 40px 0;
    .__image {
        overflow: hidden;
        height: 400px;
        position: relative;
        img{
            @include imageInsideDiv($max-width: 100%);
        }
        
    }
    .__title {
        margin-bottom: 5px;
        font-size: 40px;
        font-weight: 600;
        color: $mainFontColor;
    }
    .__date {
        font-size: 14px;
        color: #999;
    }
    .__description {
        color: #999;
        margin-bottom: 30px
    }
    .__link_w {
        padding: 20px 30px;
        border-radius: 2px;
        border: 1px solid $mainFontColor;
        width: fit-content;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        &:hover {
            background-color: $mainFontColor;
            color: $BackgroundColor;
        }
    }
    .__link {
        font-size: 16px;
        text-decoration: none;

    }
    
}


.content-container {
    padding: 5vw 25vw;
    min-height: 80vh;


    @media screen and (max-width: 450px) {
        padding: 10% 4%;
    }
}

.blog-c {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}