@import "../../styles/helpers/variables"
@import "../../styles/helpers/mixins"

.work-page
    h2
        font-size: clamp(1vw,65px,11vw)
        margin: 2vw 0

.figure-wrapper
    position: absolute
    top: 5%
    left: 0%
    right: 0%
    bottom: 0%
    height: 70vh
    z-index: 1
    stroke-width: 2px
.work-section
    
    width: $containerWidth
    margin: 100px auto
    color: $secondaryColorBackground

    .cards-wrapper
        width: 100%

       

    &.black
        @include centerFlex($direction: row,$justifyContent: none )

        position: relative
        padding: 2vw 8vw

        column-gap: 2%
        margin-bottom: -5px

        width: 100%
        transition: background-color 0.5s ease-in-out

        .large-projects
            align-self: flex-start
            row-gap: 3vw

        .projects-wrapper
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            row-gap: 2vw

        .list-item
            color: inherit

            a
                color: inherit
                border: 1.5px solid $secondaryColorBackground
                background: none

                &:hover
                    color: $secondaryColorBackground
                    background-color: $colorSecondary

        &.is-reveal
            background-color: $secondaryColorBackground
            color: $mainColorBackground
            .list-item
                border: 2px solid $mainColorBackground
                border-bottom: 5px solid $mainColorBackground
                a
                    border: 1.8px solid $mainColorBackground

        @media screen and (max-width: 450px)
            padding: 10% 2%
            height: auto
    @media screen and (max-width: 450px)
        width: 98vw

.header-workpage

    @include centerFlex($direction:  row,$justifyContent: center )
    column-gap: 20px
    row-gap: 50px

    h1
        position: relative
        font-size: clamp(1vw,85px,12vw)

    .windows-wrapper
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        width: 50vw
        margin: 10% auto
        opacity: 1
        position: relative

        @media screen and (max-width: 450px)
            margin: 8% 0
            width: 80vw

        img
            padding: 2%
            height: auto

        .circle-background

            position: absolute
            width: 35vw
            height: 35vw
            border-radius: 50%
            background-color: #849AD8
            z-index: -1
            @media screen and (max-width: 450px)
                width: 70vw
                height: 70vw

.ui-head
    position: relative
    width: 100%
    padding: 0 9%
    @media screen and (max-width: 450px)
        padding: 0 5%

    h1
        font-size: 9vw
        margin: 15% 0
        text-align: left
        @media screen and (max-width: 450px)
            font-size: 11vw

    .header-image
        position: absolute
        top: -35%
        right: 15%
        width: 22vw
        @media screen and (max-width: 450px)
            right: 7%

        .ui-circle
            max-width: 100%
            position: relative
            mix-blend-mode: difference

        .cursor
            max-width: 60%
            position: absolute
            right: -10%
            top: 40%

.container-ui
    max-width: 70vw
    margin: auto
    @media screen and (max-width: 450px)
        max-width: 95vw
        h2
            font-size: 30px

.ui-projects-wrapper
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-column-gap: 10px
    grid-row-gap: 10px
    margin: 10% 0
    @media screen and (max-width: 450px)
        display: flex
        flex-direction: column
