@import "../helpers/variables"
@import "../helpers/mixins"

body
    font-family: $fontFamily
    background: $mainColorBackground
    color: $secondaryColorBackground
    padding: 0
    box-sizing: border-box

img
    max-width: 100%
    max-height: auto

button
    background: none
    border: none
    font-size: 22px
    color: $secondaryColorBackground
    font-family: $fontFamily
    font-weight: 300
    background-color: $colorEnphasis
    padding: 15px 20px 15px 20px

h1
    font-weight: 600

h2
    font-weight: 600
