@import "../helpers/variables"
@import "../helpers/mixins"

*
    padding: 0
    margin: 0
    box-sizing: border-box
    text-decoration: none

// html
//     overflow-x: hidden
//     overflow-y: hidden

body
    font-family: $fontFamily
    background: $mainColorBackground
    color: $secondaryColorBackground

img
    max-width: 100%
    height: auto

// button
//     background: none
//     border: none
//     font-size: 22px
//     color: $secondaryColorBackground
//     font-family: $fontFamily
//     font-weight: 300
//     background-color: $colorEnphasis
//     padding: 15px 20px 15px 20px

h1
    font-weight: 600
    font-size: clamp(5vw,90px,11vw)
    text-align: center

h2
    font-weight: 600

canvas
    border: 1px solid $secondaryColorBackground
