@import "../../styles/helpers/variables"
@import "../../styles/helpers/mixins"

.center-flex
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    margin: 200px 0

.section-text-column
    position: relative
    @include centerFlex($direction: row,$justifyContent: center)
    widt

    &.photo

.v-img-wrap
    width: 30%
    margin-right: 30px
    overflow: hidden

.cards-section
    margin-top: 300px
    width: 100%
    height: 90vh
    padding: 5%
    h1
        margin-bottom: 1rem
        font-size: 65px

.column-layout
    position: relative
    @include centerFlex($direction: row ,$justifyContent: space-between )
    width: 100%
    text-align: justify
    margin-top: 50px

    .cards-info
        width: 40%
        color: $mainColorBackground
        background-color: $secondaryColorBackground
        margin-left: 30px
        padding: 1.5%
        min-width: 200px
        min-height: 230px
        h1
            font-size: revert

.wrap-text

    width: 40%
    color: $secondaryColorBackground

    h3
        font-size: 35px

    p
        font-weight: 200
        font-size: 18px
        max-width: 600px

.circle
    width: 65vw
    height: 65vw
    border-radius: 50%
    border: 1.5px solid $secondaryColorBackground
    // background-color: $secondaryColorBackground
    position: absolute
    z-index: -1
    left: 22%

.dark-rounded
    height: 100vh
    background-color: #231C07
    border-top-left-radius: 110px
    border-top-right-radius: 110px
    overflow: hidden
    padding: 5%
    h1
        color: $mainColorBackground
        font-size: 55px
